/* Les div principales*/
body {
	background-color: #a0a0a0;
}
div#main{
	margin: auto;
	width: 800px;
}
header{
	height: 150px;
	background-image:url("../img/header_background.jpg");
	background-size: cover;
	text-align: right;
}
nav {
	background-color:#4e4e4e;
	height: 35px;
	border-radius: 12px 12px 0px 0px;
}
div#corps{
	background-color:#deff00;
	height: 500px;
}
/* Le header */
header h1 {
	font-size: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
}
header h2 {
	font-size: 18px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-decoration: underline;
}
header h3 {
	font-size: 16px;
	font-family: 'Open Sans Condensed', sans-serif;
}
/* Le menu */
ul {
	padding:0;
	margin:0;
	list-style-type:none;
 }
li {
	float:left; 
 }
ul li a {
	display:block;
	margin-top: 3px;
	float:left;   
	width:100px;
	color:#ffffff;
	font: arial, 14px;
	text-decoration:none;
	text-align:center;
	padding:5px;
}
ul li a:hover {
	text-decoration:underline;
} 

/* Les balises de texte */
h1 {
	color: black;
}