/* Les div principales*/

body {
	background-color: #a0a0a0;
}
div#main{
	margin: auto;
	width: 800px;
}
header{
	height: 150px;
	background-image:url("../img/header_background.jpg");
	background-size: cover;
	text-align: right;
}
nav {
	background-color:#1b1b1b;
	height: 35px;
	margin-top: 20px;
}
div#corps{
	min-height: 500px;
	margin-top: 20px;
	background-color: #cecece;
	overflow: hidden;
}
footer {
	height: 100px;
	margin-top: 20px;
	background-color: #1b1b1b;
}
div#accueil {
	padding: 20px 20px 20px 40px;
}


/* Le header */

header h1 {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	margin-left: 40px;
}
header h2 {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}
header h3 {
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	text-decoration: underline;
}


/* Le menu */

ul {
	padding:0;
	margin:0;
	list-style-type:none;
 }
li {
	float:left; 
 }
ul li a {
	display:block;
	margin-top: 5px;
	float:left;   
	width:120px;
	color:#ffffff;
	font-family:'Helvetica Neue',Arial,sans-serif;
	text-transform:uppercase;
	font-size: 14px;
	text-decoration:none;
	text-align:center;
	padding: 5px;
}
ul li a::first-letter { 
    color:#ffc01f;
}
ul li a:hover {
	color:#ffc01f;
} 


/* Accueil */

div#accueil h1 {
	font-family:'Helvetica Neue',Arial,sans-serif;
	font-size: 18px;
	text-decoration: underline;
}

div#accueil h2 {
	font-family:'Helvetica Neue',Arial,sans-serif;
	font-size: 18px;
	text-decoration: underline;
	margin-top:90px;
	text-align: center;
}

div#accueil p{
	text-align: justify;
	font-family:'Helvetica Neue',Arial,sans-serif;
	font-size: 14px;
}
.work_in_progress {
	margin-top: 40px;
	text-align: center;
	text-decoration: underline;
}

/* Galerie */

div#galerie {
	display:inline-block;
}

.img_galerie {
	width: 355px;
	margin: 20px;
	display:inline-block;
}

/* Presse */

div#presse h1 {
	font-family:'Helvetica Neue',Arial,sans-serif;
	font-size: 18px;
	text-decoration: underline;
	text-align:center;
	margin:20px 0px 20px 0px;
}

.cover_presse {
	width: 175px;
	margin: 20px;
	display:inline-block;
	border-radius: 5px;
    border: 1px solid #000000;
}

.magazine {
	height: 700px;
	display:inline-block;
	margin-right: 30px;
}