/* Les div principales*/
body {

}
div#main{
	margin: auto;
	width: 800px;
	background-color: #d9d9d9;
}
header{
	height: 150px;
	background-color: #ff8d8d;
}
nav {
	background-color:727272;
	height: 50px;
}


/* Le menu */
ul {
 padding:0;
 margin:0;
 list-style-type:none;
 }
li {
 margin-left:2px;
 float:left; 
 }
ul li a {
 display:block;
 float:left;   
 width:100px;
 background-color:#6495ED;
 color:black;
 text-decoration:none;
 text-align:center;
 padding:5px;
 border:2px solid;
 }
ul li a:hover {
 background-color:#D3D3D3;
 border-color:#696969 #DCDCDC #DCDCDC #696969;
 } 

/* Les balises de texte */
h1 {
	color: blue;
}